.values, .operators, .calcBtn{
    padding: 20px;
}

.myCalc{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    text-align: center;
    background-color: aqua;
    max-width: 30%;
}

#result{
    display: inline-block;
    border-style: groove;
    background-color: white;
}