.values, .operators, .calcBtn, .myCalc{
    padding: 20px;
}

.myCalc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    text-align: center;
    background-color: whitesmoke;
    max-width: 30%;
}

#result{
    display: inline-block;
    background-color: white;
    font-weight: bold;
}

body {
    background: linear-gradient(to right top, rgb(117, 216, 134), rgb(106, 90, 156));
}

html, body {
    height: 100%
}
